@charset "UTF-8";
a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header ul {
    display: flex;
    padding: 10px 0;
}

#header li {
    margin-left: 30px;
    margin-right: 30px;
}

#header li a {
    color: #24292e;
}

#header li a:hover {
    opacity: 0.7;
}

/*-------------------------------------------
main
-------------------------------------------*/

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.section-title {
    text-align: center;
}

.container {
    width: 100%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#about ul {
    display: flex;
    width: 100%;
}

#about li {
    display: flex;
    width: 100%;
}

p.about {
    padding-left: 40px;
}

#list li {
    width: 40%;
}

#list ul {
    display: flex;
    justify-content: space-between;
}

#list li {
    width: 32%;
}

#contact {
    text-align: center;
}

.message {
    width: 500px;
    height: 40px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.btn--orange, a.btn--orange {
    color: #fff;
    background-color: #f08080;
}

.btn--orange:hover, a.btn--orange:hover {
    color: #fff;
    background: #f08080;
}

.btn, a.btn, button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 0.5rem;
}